<IfModule mod_rewrite.c>
RewriteEngine On

RewriteCond %{REQUEST_URI} !^/phpMyAdmin.*
RewriteCond %{REQUEST_URI} !^/mysqlDumper.*
RewriteCond %{REQUEST_URI} !^/roundcube.*
RewriteCond %{REQUEST_URI} !^/forum.*
RewriteCond %{REQUEST_URI} !^/favicon.*
RewriteCond %{REQUEST_URI} !^/robots.*
RewriteCond %{REQUEST_URI} !^/tools.*
RewriteCond %{REQUEST_URI} !^/index.*php$
RewriteRule ^(.*)$ /site/public/index.php/$1 [NC,L]

</IfModule>