<IfModule mod_rewrite.c>
RewriteEngine On

RewriteCond %{REQUEST_URI} !^/phpMyAdmin.*
RewriteCond %{REQUEST_URI} !^/spongestats.*
RewriteCond %{REQUEST_URI} !^/mysqlDumper.*
RewriteCond %{REQUEST_URI} !^/forum.*
RewriteCond %{REQUEST_URI} !^/favicon.*
RewriteRule ^(.*)$ /site/public/index.php/$1 [NC,L]

</IfModule>