RewriteEngine On

RewriteCond %{THE_REQUEST} !^/phpMyAdmin.*
RewriteCond %{THE_REQUEST} !^/mysqlDumper.*
RewriteCond %{THE_REQUEST} !^/roundcube.*
RewriteCond %{THE_REQUEST} !^/forum.*
RewriteCond %{THE_REQUEST} !^/favicon.*
RewriteCond %{THE_REQUEST} !^/robots.*
RewriteCond %{THE_REQUEST} !^/tools.*
RewriteCond %{THE_REQUEST} !^/index.*php$
RewriteRule ^(.*)$ /site/public/index.php/$1 [NC,L]
