<!-- INCLUDE overall_header.html -->

	<h2><a href="{U_CALENDAR}">{L_CALENDAR_TITLE}</a></h2>

<div class="post bg2" id="preview">
	<div class="inner"><span class="corners-top"><span></span></span>
			<!-- IF U_DELETE or U_EDIT -->
			<div class="postbody">
				<ul class="profile-icons">
					<!-- IF U_EDIT --><li class="edit-icon"><a href="{U_EDIT}" title="{L_EDIT_POST}"><span>{L_EDIT_POST}</span></a></li><!-- ENDIF -->
					<!-- IF U_DELETE --><li class="delete-icon"><a href="{U_DELETE}" title="{L_DELETE_POST}"><span>{L_DELETE_POST}</span></a></li><!-- ENDIF -->
				</ul>
			</div>
			<!-- ENDIF -->
	<div class="postbody">
		<h3><!-- IF EVENT_COLOR --><span style="color:#{EVENT_COLOR}"><!-- ENDIF -->
		<!-- IF EVENT_IMAGE --><img src="{EVENT_IMAGE}" /> <!-- ENDIF -->
		<!-- IF ETYPE_DISPLAY_NAME -->{ETYPE_DISPLAY_NAME}: <!-- ENDIF -->{SUBJECT}
		<!-- IF EVENT_COLOR --></span><!-- ENDIF -->
		</h3><br />

	<div class="panel bg3">
	  <fieldset class="fields1">
    <!-- IF ALL_DAY -->
      <h5>{L_ALL_DAY}: {START_DATE}</h5>
    <!-- ELSE -->
      <h5>{L_FROM_TIME}: {START_DATE}<br />
      {L_TO_TIME}: {END_DATE}</h5>
    <!-- ENDIF -->
	  </fieldset>
	</div>&nbsp;<br />
		<div class="content">{MESSAGE}</div><br />
		<div class="content">{L_INVITE_INFO}: {INVITED}</div><br />&nbsp;<br />
		<div class="content">{L_EVENT_CREATED_BY} {POSTER}</div>

      	      <br /><div class="buttons">
		      <!-- IF ADD_LINK --><div class="calendar-new-icon"><a href="{ADD_LINK}" title="{L_NEW_EVENT}"><span></span></a></div><!-- ENDIF -->
	  	      <div class="calendar-day-icon"><a href="{DAY_VIEW_URL}" title="{L_DAY}"><span></span></a></div>
	          <div class="calendar-week-icon"><a href="{WEEK_VIEW_URL}" title="{L_WEEK}"><span></span></a></div>
	          <div class="calendar-month-icon"><a href="{MONTH_VIEW_URL}" title="{L_MONTH}"><span></span></a></div>
	          </div><br />


	</div>
	<span class="corners-bottom"><span></span></span></div>
</div>
<hr /><!-- INCLUDE overall_footer.html -->
