	<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
</div>

<div id="wrapfooter">
	<!-- IF U_ACP --><span class="gensmall">[ <a href="{U_ACP}">{L_ACP}</a> ]</span><br /><br /><!-- ENDIF -->
	<!-- IF S_AUTHORIZED --><form id="purge_cache" method="post" action="#"><br /><input type="hidden" name="purge_cache" value="1" /><input class="button2" type="submit" id="purge_cache" value="{L_PURGE_CACHE}" /></form><!-- ENDIF -->		
</div>

<div align="right">
	<span class="copyright">Powered by <a href="http://www.phpbb.com/">phpBB</a> &copy; 2000, 2002, 2005, 2007 phpBB Group&nbsp;&nbsp;<br/>Design By <a href="http://www.pokerbandits.ca">Poker Bandits</a>&nbsp;&nbsp;
	<!-- IF TRANSLATION_INFO --><br />{TRANSLATION_INFO}<!-- ENDIF -->
	<!-- IF DEBUG_OUTPUT --><br /><bdo dir="ltr">[ {DEBUG_OUTPUT} ]</bdo><!-- ENDIF --></span>
</div>
<br/>
<!-- Google analytics -->
  <script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-12513665-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>